<h1>Welcome to the Simple CMS</h1>

<h3>This is a simple content management system built using Ruby on Rails.</h3>

<p>It has two tables in a database that stores administrator users, names, email addresses, and passwords.
  In another table is stored the web pages, that can be created, removed, or hidden.</p>

<p>To store passwords it uses the SHA-1 cryptographic hash function plus salt to store admin users passwords
  into the database for security.  Instead of the database storing the passwords as they are typed, it stores
  a long series of numbers and letters that cannot be hacked.</p>

<p>Please feel free to launch this application and play around.  It’s not the sharpest looking app, but it is
  very functional.</p>

<p>Sign in to the admin area using username: mtngroup and password: mtngroup.  Create additional admin users,
  subjects, pages, and sections and please let me know if anything breaks!  Also, when you add pages,
  they should be added into the menu on the left if you select them to be visible.</p>

<p>One note, please don’t delete the admin user Guest if you can help it.   Thank you!</p>
